div {
  padding: 10px;
  text-align: center;
}

b {
  font-family: sans-serif;
}

.topnav{
    position:absolute;
    left: 900px;
    top: 75px;
}

p {
    float:left;
}

a{
    color:#cccccc;
    margin: 5px;
}

img {
    padding: 20px;
    float:left;
}

.label {
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: teal;
  font-style:normal;
  font-size: 1.5em;
 border-bottom: solid 1px teal;

}
#main {
  height: 600px;
  border: 1px solid lightgray;
  background-color: lightgray;
  margin: 110px 10px 0px 50px;
  text-align: left;
  border-bottom: 20px solid teal;
  box-shadow: 0 50px 0 #666666;
}


#main2 {
  margin: 20px 10px 0px 150px;
  float: left;
  width: 960px;
  height: 500px;
  border: 1px solid white;
  background-color: white;
}



#header1 {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 40px;
  left: 150px;
  border: 1px solid teal;
  background-color: teal;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
    
}


